.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main_weather {
    margin: 0 auto;
}

.item {
    display: inline-block;
}

.main {
    margin-top: 50px;
}
.weather-panel {
    background-image: url("https://unsplash.it/600/400?image=1043&blur");
    background-size: cover;
    border-radius: 20px;
    box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
    color: #fff;
    overflow: hidden;
    position: relative;
}
.weather-panel small {
    color: inherit;
    font-size: 50%;
}
.weather-panel ul.forecast > li {
    border-top: 1px solid #fff;
}
.weather-panel .temperature > span {
    font-size: 2em;
}
